
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #eef9be;
    font-family: 'Roboto', sans-serif;
}

p {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}
.cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    perspective: 1000px;
}
.card {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 146px;
    width: 116px;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    margin-right: 34px;
    margin-bottom: 34px;
    background-color: #A7E9AF;
    transform-style: preserve-3d;
    transition: transform .8s;
}

.gif{
    width: 80px;
    height: 80px;
}

.back-face {
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
  }

  .front-face {
    backface-visibility: hidden;
  }

  .card.flip{
    transform: rotateY(180deg);
  }

@media (max-width:335px){
    p {
        font-size: 36px;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
}